<div class="navbar">
  <div class="navbar-left">
    <%= image_tag "nextstep_logo.png", alt: "NextStep", class: "navbar-logo" %>
  </div>
  <div class="navbar-right">
    <%= link_to "#" do %>
      <i class="fas fa-user-circle user-icon"></i>
    <% end %>
  </div>
</div>


<style>
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #eee;
  margin-top: -10px;
}

.navbar-logo {
  max-height: 40px;
  width: auto;
  object-fit: contain;
}

.user-icon {
  font-size: 28px;
  color: #444;
}





</style>
