<div class="navbar">
  <div class="navbar-center">
    <%= image_tag "nextstep_logo.png", width: 180, style: "margin-bottom: 16px;" %>
  </div>
</div>

<style>
.navbar {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 40px;
  max-width: 120px;

}



</style>
